{% extends "crud/base.html" %}
{% load i18n %}
{% block content %}
    <form method="POST" style="color: red">
        {% csrf_token %}
        <p>Are you sure you want to delete "{{ object }}"?</p>
        <div>
            <h4>{{ object.name }}</h4>
            <p>{% trans 'created_at' %}:{{ object.created_at }}</p>
            <p>{% trans 'updated_at' %}:{{ object.updated_at }}</p>
        </div>
        <button type="submit" style="color: red">{% trans 'Confirm' %}</button>
        <a href="javascript:void(0);" onclick="window.history.back();">{% trans 'return' %}</a>
    </form>
{% endblock %}